h1{
	font-weight: 700;
	padding-top: 1.5rem;
}
body{
	background-color: #F4F3F4!important;
}
.container{
	background-color: white !important;
}
.row input{
	 border: none !important;
    border: 2px solid #655AFF !important;
    border-radius: 10px !important;
    height: 47px !important;
}
.btn{
	background-color: #655AFF !important;
	color: white !important;
}
.row label{
	font-size: 20px !important;
	margin-bottom:0.1rem !important;
}

.right{
	font-size: 15px !important;
}

.backAlb{
	width: 100%;
	height: 100px;
	background-color: white;
}